# Ignorar pasta de build/output
dist/
data/data.json

# Ignorar configs locais específicas (ex: suas configurações de teste do Bruno)
movimentacoes-bancarias/

# Node modules (dependências instaladas)
node_modules/

# Logs
*.log
npm-debug.log*

# Ambiente de variáveis
.env

# Editor e sistema
.vscode/
.idea/
.DS_Store

# Cache do TypeScript
*.tsbuildinfo
